{% extends "comercio/master_comercio.html" %}

{% block contenido_comercio %}
<div class="formulario-edit">
    <h2 style="color: var(--orange-dark); margin-top: 0;">Nueva Campaña de Recompensa</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div style="margin-top: 32px;">
            <button type="submit" class="btn btn-primary">Guardar Campaña</button>
            <a href="{% url 'listar_campanas' %}">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
