{% extends "comercio/master_comercio.html" %}

{% block contenido_comercio %}
<div class="contenedor">
    <h1>Editar Campaña</h1>
    <div class="detalle">
    <h2>Nombre: {{ campana.nombre_campana }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="acciones">
            <button type="submit" class="btn btn-primary">Actualizar Cambios</button>
            <a href="{% url 'ver_campana' campana.id %}">Cancelar</a>
        </div>
    </form>
</div>
</div>

{% endblock %}
