{% extends "master.html" %}

{% block content %}
<div class="vendedor-layout">
    <aside class="left-nav">
        <nav>
            <ul>
                <li><a href="{% url 'dashboard_comercio' %}">Inicio</a></li>
                <li><a href="{% url 'listar_productos' %}">Productos</a></li>
                <li><a href="{% url 'listar_inventario' %}">Inventario</a></li>
                <li><a href="{% url 'listar_liquidacion' %}">Liquidaciones</a></li>
                <li><a href="{% url 'listar_vendedores' %}">Vendedores</a></li>
                <li><a href="{% url 'listar_campanas' %}">Campañas</a></li>
            </ul>
        </nav>
    </aside>

    <section class="vendedor-content">
    {% block contenido_comercio %}{% endblock %}
    </section>
</div>
{% endblock %}
