{% extends "master.html" %}

{% block content %}
<div class="vendedor-layout">
    <aside class="left-nav">
        <nav>
            <ul>
                <li><a href="{% url 'dashboard_vendedor' %}">Mis pedidos</a></li>
                <li><a href="{% url 'listar_tiendas' %}">Tiendas</a></li>
                <li><a href="{% url 'listar_comisiones' %}">Mis Comisiones</a></li>
                <li><a href="{% url 'listar_puntos' %}">Mis Puntos</a></li>
            </ul>
        </nav>
    </aside>

    <section class="vendedor-content">
        {% block contenido_vendedor %}{% endblock %}
    </section>
</div>
{% endblock %}
