{% extends "vendedor/master_vendedor.html" %}

{% block contenido_vendedor %}

<div class="contenedor">
    <div class="detalle">
    <h2>{{ tienda.nombre }}</h2>
    <p><strong>Propietario:</strong> {{ tienda.propietario }}</p>
    <p><strong>Direccion:</strong> {{ tienda.direccion }}</p>
    <p><strong>Telefono:</strong> {{ tienda.telefono }}</p>

    <h3>Ubicacion</h3>

    <div class="acciones">
        <a href="{% url 'editar_tienda' tienda.id %}">Editar</a>
        <a href="{% url 'eliminar_tienda' tienda.id %}">Eliminar</a>
    </div>
</div>
</div>

{% endblock %}
